{% extends 'base.html' %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <div class="login_container">
        <h2>Login</h2>
        <form method="POST">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
    <a href="/register">Don't have an account? Register here.</a>
{% endblock %}