{% extends 'base.html'%}

{% block head %}

{% endblock %}


{% block body %}

<div class="content">
    <h1 style='text-align: center'> Update Expense </h1>

    <form action="/update/{{ expense.id }}" method="POST">
        <label>Expense </label>
        <input type="text" name="content" id="content" value="{{expense.content}}" reqiured>

        <label for="category"> Category </label>
        <select name="category" id="category" required>
            <option value="Food">Food</option>
            <option value="Transportation">Transportation</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Bills">Bills</option>
            <option value="Health">Health</option>
            <option value="Education">Education</option>
            <option value="Shopping">Shopping</option>
            <option value="Rent">Rent</option>
            <option value="Utilities">Utilities</option>
            <option value="Insurance">Insurance</option>
            <option value="Gifts">Gifts</option>
            <option value="Travel">Travel</option>
            <option value="Subscriptions">Subscriptions</option>
            <option value="Taxes">Taxes</option>
            <option value="Loans">Loans</option>
            <option value="Entertainment/Leisure">Entertainment/Leisure</option>
            <option value="Sports">Sports</option>
            <option value="Other">Other</option>
        </select>

        <label>Amount </label>
        <input type="number" name="amount" id="amount" step="0.01" value="{{expense.amount}}" required>
        <input type="submit" value="Update expense">
    </form>
    
</div>

{% endblock %}